/* To be commented out on Production */

.test-border {
  border: 2px solid green;
}

/* General Rules */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #575757;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.link-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 15px 25px;
  margin-top: 20px;
  border-radius: 25px;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

.box-shadow {
  box-shadow: 2px 2px 2px 2px #aaaaaa;
}

/* Header */
header {
  padding: 50px 150px;
  padding-left: 20%;
}

header .flex-item:nth-child(1) {
  width: 60%;
  align-self: center;
  text-align: left;
}

.orange-text {
  color: #fba24f;
}

.orange-red-gradient-background {
  background-image: linear-gradient(to right, #fba24f, #ff1e1e);
}

header p {
  width: 65%;
  font-weight: 500;
}

header div h1 {
  line-height: 2rem;
}

header img {
  position: relative;
  bottom: 10%;
  left: -15%;
}

header > .flex-item:nth-child(2) {
  width: 40%;
  position: relative;
  left: -8%;
  text-align: center;
  vertical-align: center;
  background-image: url("../assets/images/shapes/Group 8450.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90% auto;
  align-content: top;
}

/* About Me Section */
section#about-me-section {
  padding: 5% 10%;
  background-image: url("../assets/images/shapes/7.png");
  background-size: cover;
  position: relative; /*For Image below*/
}

section#about-me-section .flex-item {
  width: 45%;
}

section#about-me-section .flex-item:nth-child(2) {
  position: relative; /*For Button below*/
}

section#about-me-section .flex-item:nth-child(1) img {
  position: absolute;
  bottom: 0;
  left: -5%;
  width: 50%;
}

section#about-me-section .flex-item p {
  margin-bottom: 10%;
}

/* My Recipies Section */

#my-recipies-section {
  padding: 0 10%;
  padding-bottom: 3%;
}

#my-recipies-section > div > p {
  padding-left: 20%;
  padding-right: 20%;
}

#recipe-cards {
  justify-content: space-around;
}

.recipe-card {
  width: 45%;
  border-radius: 5%;
  padding: 2%;
}

.recipe-card img {
  width: 100%;
}

/* Statistics Section */

#stat-section {
  margin-top: 3%;
  justify-content: center;
}

#stat-cards {
  width: 70%;
}

.stat-card {
  width: 30%;
}

.stat-card h1 {
  margin-bottom: 0;
  color: black;
}

.stat-card p {
  font-size: 14px;
}

/* Footer Section */

footer {
  background-color: black;
  padding: 2% 0;
  margin-top: 3%;
}

.gray-text {
  color: #5b5b5b;
}

footer p {
  color: white;
  font-size: 16px;
}
